.leftLayout {
    padding: 1rem;
}

.title {
    font-size: 3rem;
    padding: 2rem;
    margin: 0;
    font-weight: 900;
    max-width: 512px;
}

.span {
    color: #31DA62;
}

.form {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 512px;
}

.NativeSelect {
    padding: 4px 10px !important;
}

.NativeSelect:before
.NativeSelect:after {
    border-bottom: none !important;
}

.NativeSelect:focus {
    background: transparent !important;
}

.imputLabel {
    color: #000000 !important;
    font-weight: 600 !important;
}

.imageContainer {
    width: 100% !important;
    height: 100vh !important;
    background: url('https://s3.amazonaws.com/design-code-react/Audi.png');
    background-size: cover;
    background-position: center;
}

.imageGridContainer {
    display: inline-flex !important;
}

.buttonContainer {
    margin-top: 2rem;
    float: right;
}

.NativeTextField {
    margin-bottom: 1rem !important;
    color: #000000 !important;
    font-weight: 500;
    padding: 11px 10px;
    margin-top: 8px;
}

.NativeTextField:focus {
    border-color: black;
    transition: all 0.2s ease-in 0s;
    outline: none !important;
    outline-style: none !important;
    outline-color: none !important;
}

.DateContainer {
    flex-grow: 1;
}

.DateContainerTwo {
    padding-left: 1rem;
}

@media (max-width: 768px) {
    .leftLayout {
        padding: 0; 
    }

    .title {
        font-size: 2.25rem;
    }

    .imageContainer {
        display: none;
    }
}