.root {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 72px;
}

.appBar {
      box-shadow: none !important;
}

.toolBar {
      justify-content: space-between;
      background-color: black;
}

.menuButton {
      margin-left: -12px;
      margin-right: 20px;
}